div#page{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
div#body{
	width: 350px;
	height: 330px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	padding-top: 50px;
	padding-left: 100px;
	background-color: rgb(200,200,169);
	border-radius: 15px;
}
header{
	height: 30px;
}
div#search{
	
}
input{
	line-height: 14px;
	margin: 8px 0;
	padding: 6px 15px;
	border: 0;
	border-radius: 5px;
}
input[type=submit],
input[type=button]{
	background-color: rgb(249,205,173);
}
a{
	margin-right: 10px;
	text-decoration: none;
}
ul{
	list-style: none;
	margin-left: 10px;
}
li{
	margin-bottom: 5px;
}

